   <div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='workouts && workouts.length'>
                <thead>
                    <tr>
                       
                        <th>Workout Id</th>
                        <th>Title</th>
                        <th>CalBurntPerUnitTime</th>
                         <th>Unit Time</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let workout of workouts'>
                       
                        <td>
                                {{ workout.workoutId }}
                           
						</td>
                       
                        <td><a [routerLink]="['/workouttranslist', workout.workoutId]">
                               {{ workout.title }}
                            </a></td>
                        <td>{{ workout.calBurntPerUnitTime }}</td>
                         <td>  {{ workout.unitTime }}  </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
 <div class="form-group">
                 <button  class="btn btn-primary" (click)="newWorkout();">New Workout</button>              
</div>
